<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3" >
    <i class="fa fa-user m-r-xs"></i>
    Pelanggan
  </h1>
</div>
<div class="wrapper-md" ng-controller="CustomerIndexCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span ng-repeat="method in orderMethods">
        <a ui-sref="app.customer.new({type:method.name})" class="btn btn-sm {{method.name==='Grosir'?'btn-primary':'btn-success'}}">
          <i class="glyphicon glyphicon-plus"></i> Pelanggan {{method.name}}
        </a>
      </span>
    </div>
    <table st-table="displayCustomers" st-safe-src="customers" class="table table-striped">
      <thead>
      <tr>
        <th st-sort="methodName">Tipe</th>
        <th st-sort="name">Nama</th>
        <th st-sort="address">Alamat</th>
        <th st-sort="phone">Telp</th>
        <th st-sort="isGroup">Group</th>
        <th st-sort="active">Aktif</th>
        <th width="50"></th>
      </tr>
      <tr>
        <th>
          <select ng-model="sp.orderMethodName" class="input-sm form-control">
            <option value="">All</option>
            <option ng-repeat="m in orderMethods" value="{{m.name}}">{{m.name}}</option>
          </select>
        </th>
        <th>
          <input ng-model="sp.name" placeholder="search.." class="input-sm form-control" type="search"
                 ng-show="sp.orderMethodName ==='Kanvas'"/>
          <input ng-model="sp.name" placeholder="search pusat.." class="input-sm form-control" type="search"
                 ng-show="sp.orderMethodName ==='Grosir'"/>
          <input ng-model="sp2.name" placeholder="search cabang.." class="input-sm form-control" type="search"
                 ng-show="sp.orderMethodName ==='Grosir'"/>
        </th>
        <th colspan="2">
          <input ng-model="sp.addressCity" placeholder="search.." class="input-sm form-control" type="search"
                 ng-show="sp.orderMethodName ==='Kanvas'"/>
          <input ng-model="sp.addressCity" placeholder="search pusat.." class="input-sm form-control" type="search"
                 ng-show="sp.orderMethodName ==='Grosir'"/>
          <input ng-model="sp2.addressCity" placeholder="search cabang.." class="input-sm form-control" type="search"
                 ng-show="sp.orderMethodName ==='Grosir'"/>
        </th>
        <th>
          <select ng-model="sp.isGroup" class="input-sm form-control">
            <option value="">All</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </th>
        <th>
          <select ng-model="sp.active" class="input-sm form-control">
            <option value="">All</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat-start="row in displayCustomers | filter: sp | filter: sp3">
        <td>
          <span ng-if="row.orderMethodName==='Grosir'" class="label bg-primary">{{row.orderMethodName}}</span>
          <span ng-if="row.orderMethodName==='Kanvas'" class="label bg-success">{{row.orderMethodName}}</span>
          <span ng-if="(row.orderMethodName!=='Kanvas' && row.orderMethodName!=='Grosir')" class="label bg-light">{{row.orderMethodName}}</span>
        </td>
        <td>{{row.name}}</td>
        <td>{{row.addressCity}}<span ng-show="row.addressCity && row.addressProvince">,</span> {{row.addressProvince}}</td>
        <td>{{row.phone}}</td>
        <td>
          <span ng-if="row.isGroup" class="label bg-success">Yes</span>
          <span ng-if="!row.isGroup" class="label bg-light">No</span>
        </td>
        <td>
          <span ng-if="row.active" class="label bg-success">Yes</span>
          <span ng-if="!row.active" class="label bg-light">No</span>
        </td>
        <td style="white-space: nowrap">
          <div class="buttons pull-right">
            <a ng-if="row.isGroup" ui-sref="app.customer.newchild({ type: row.orderMethodName, id: row.id })"
               class="btn btn-xs btn-info" tooltip="Tambah cabang">
              <i class="fa fa-plus"></i> cbg
            </a>
            <a ui-sref="app.customer.edit({ id: row.id })" class="btn btn-xs btn-success" tooltip="Edit">
              <i class="fa fa-edit"></i> edit
            </a>
            <a ng-click="remove(row)" class="btn btn-xs btn-danger" tooltip="Delete">
              <i class="fa fa-times"></i> del
            </a>
          </div>
        </td>
      </tr>
      <tr ng-repeat-end ng-if="row.childCustomers.length > 0" ng-repeat="child in row.childCustomers | filter: sp2 | filter: sp3">
        <td>
          <span ng-if="child.orderMethodName==='Grosir'" class="label bg-primary">{{child.orderMethodName}}</span>
          <span ng-if="child.orderMethodName==='Kanvas'" class="label bg-success">{{child.orderMethodName}}</span>
          <span ng-if="(child.orderMethodName!=='Kanvas' && child.orderMethodName!=='Grosir')" class="label bg-light">{{child.orderMethodName}}</span>
        </td>
        <td>&#8627; {{child.name}}</td>
        <td>{{child.addressCity}}<span ng-show="child.addressCity && child.addressProvince">,</span> {{child.addressProvince}}</td>
        <td>{{child.phone}}</td>
        <td>
          <span ng-if="child.isGroup" class="label bg-success">Yes</span>
          <span ng-if="!child.isGroup" class="label bg-light">No</span>
        </td>
        <td>
          <span ng-if="child.active" class="label bg-success">Yes</span>
          <span ng-if="!child.active" class="label bg-light">No</span>
        </td>
        <td style="white-space: nowrap">
          <div class="buttons pull-right">
            <a ui-sref="app.customer.edit({ id: child.id })" class="btn btn-xs btn-success" tooltip="Edit">
              <i class="fa fa-edit"></i> edit
            </a>
            <a ng-click="removeChild(row,child)" class="btn btn-xs btn-danger" tooltip="Delete">
              <i class="fa fa-times"></i> del
            </a>
          </div>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
