<div class="modal-body wrapper-lg">
  <div class="row">
    <h3 class="m-t-none m-b font-thin text-danger">
      <i class="fa fa-warning"></i>
      Delete Stok
    </h3>
    <form role="form">
      <div class="form-group">
        <p>Apakah anda yakin akan menghapus stok: <strong>{{item.batchName}}</strong>?</p>
        <p>Masuk pada {{item.dateStock | date : "dd-MMM-yyyy"}}</p>
        <p>Kadaluarsa pada {{item.dateExpire | date : "dd-MMM-yyyy"}}</p>
        <p>Stok saat ini: {{item.amountCurrent | number}}</p>
      </div>
      <div class="checkbox m-t-lg">
        <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()">
          <strong>Delete</strong>
        </button>
        <button class="btn btn-sm pull-right text-uc m-t-n-xs" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
