<div class="modal-body wrapper-lg">
  <div class="row">
    <h3 class="m-t-none m-b font-thin">Update Status Harga</h3>
    <form role="form">
      <div class="form-group">
        <p>Apakah anda yakin untuk memperbarui status harga dari <strong>{{item.active}}</strong> menjadi <strong>{{!item.active}}</strong>?
        <p>Harga produk: <strong>{{item.amount}} [{{item.currencyCode}}]</strong></p>
        <p>Berlaku dari {{item.dateFrom | date : "dd-MMM-yyyy"}} sampai {{item.dateTo | date : "dd-MMM-yyyy"}}</p>
        <small ng-hide="!item.note">{{item.note}}</small>
      </div>
      <div class="checkbox m-t-lg">
        <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()">
          <strong>Yes</strong>
        </button>
        <button class="btn btn-sm pull-right text-uc m-t-n-xs" ng-click="cancel()">No</button>
      </div>
    </form>
  </div>
</div>
