<div class="modal-body wrapper-lg">
  <div class="row">
    <h3 class="m-t-none m-b font-thin text-danger">
      <i class="fa fa-warning"></i>
      Delete Stock
    </h3>
    <form role="form">
      <div class="form-group">
        <p>Are you sure want to delete this stock: <strong>{{item.batchName}}</strong>?</p>
        <p>Entried at {{item.dateStock | date : "dd-MMM-yyyy"}}</p>
        <p>Expire at {{item.dateExpire | date : "dd-MMM-yyyy"}}</p>
        <p>Current stock: {{item.amountCurrent | number}}</p>
      </div>
      <div class="checkbox m-t-lg">
        <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()">
          <strong>Delete</strong>
        </button>
        <button class="btn btn-sm pull-right text-uc m-t-n-xs" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
