<div class="modal-body wrapper-lg">
  <div class="row">
    <h3 class="m-t-none m-b font-thin text-warning">Update Status Stok</h3>
    <form role="form">
      <div class="form-group">
        <p>Apakah anda yakin akan memperbarui status stok dari <strong>{{item.active}}</strong> menjadi <strong>{{!item.active}}</strong>?
        <p>Nama batch: {{item.batchName}}</p>
        <p>Tanggal masuk {{item.dateStock | date : "dd-MMM-yyyy"}}</p>
        <p>Kadaluarsa {{item.dateExpire | date : "dd-MMM-yyyy"}}</p>
        <p>Stok saat ini: {{item.amountCurrent | number}}</p>
      </div>
      <div class="checkbox m-t-lg">
        <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()">
          <strong>Yes</strong>
        </button>
        <button class="btn btn-sm pull-right text-uc m-t-n-xs" ng-click="cancel()">No</button>
      </div>
    </form>
  </div>
</div>
