<div class="modal-body wrapper-lg">
  <div class="row">
    <h3 class="m-t-none m-b font-thin">Tambah harga baru</h3>
    <form role="form" name="form">
      <div class="row">
        <div class="form-group col-lg-12">
          <label>Jenis Order</label>
          <div class="input-group">
            <ui-select ng-model="item.orderMethodName" ng-required="true" class="form-validation">
              <ui-select-match placeholder="Select..">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="ord.name as ord in item.orderMethods | filter: $select.search">
                <div ng-bind-html="ord.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          <span class="input-group-btn">
            <button type="button" ng-click="" class="btn btn-default">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-9">
          <label>Nama</label>
          <input type="text" ng-model="item.name" class="form-control form-validation" ng-required="true" ui-focus="true">
        </div>
        <div class="form-group col-lg-3">
          <label>Aktif</label>
          <div>
            <label class="i-switch bg-success m-t-xs m-r">
              <input type="checkbox" ng-model="item.active">
              <i></i>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-6">
          <label>Tanggal Awal</label>
          <div class="input-group w-md" ng-controller="DatepickerCtrl">
            <input name="dateFrom" type="text" class="form-control form-validation" datepicker-popup="{{format}}" ng-model="item.dateFrom"
                   is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </div>
        </div>
        <div class="form-group col-lg-6">
          <label>Tanggal Akhir</label>
          <div class="input-group w-md" ng-controller="DatepickerCtrl">
            <input name="dateTo" type="text" class="form-control form-validation" datepicker-popup="{{format}}" ng-model="item.dateTo"
                   is-open="opened" datepicker-options="dateOptions"  close-text="Close" ng-required="true" date-greater-than="item.dateFrom" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </div>
          <small ng-show="form.dateTo.$dirty && form.dateTo.$error.dateGreaterThan" class="alert-danger">End Date must greater than Start Date</small>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-6">
          <label>Nilai</label>
          <input type="number" ng-model="item.amount" class="form-control form-validation" placeholder="Number only.." ng-required="true">
        </div>
        <div class="form-group col-lg-6">
          <label>Mata Uang</label>
          <div class="input-group">
            <ui-select ng-model="item.currencyCode" ng-required="true" class="form-validation">
              <ui-select-match placeholder="Select currency..">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="cur.code as cur in item.currencies | filter: $select.search">
                <div ng-bind-html="cur.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <span class="input-group-btn">
              <button type="button" ng-click="" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-12">
          <label>Catatan</label>
          <input type="text" ng-model="item.note" class="form-control form-validation">
        </div>
      </div>

      <div class="checkbox m-t-lg">
        <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()" ng-disabled="form.$invalid">
          <strong>Save</strong>
        </button>
        <button class="btn btn-sm pull-right text-uc m-t-n-xs" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
