<div class="panel panel-default">
  <div class="panel-heading">
    <button type="button" class="btn btn-sm btn-success" ng-click="addStock()">
      <i class="glyphicon glyphicon-plus"></i> Add new
    </button>
    <div class="m-t-xs pull-right">
      <span ng-hide="!currentStock" class="text-info-dker">
        <i class="fa fa-lightbulb-o"></i>
        Default stock will be used is <strong>{{currentStock.batchName}}</strong>,
        entried at {{currentStock.dateStock | date : "dd-MMM-yyyy"}},
        will expire at {{currentStock.dateExpire | date : "dd-MMM-yyyy"}},
        and has {{currentStock.amountCurrent | number}} stocks
      </span>
      <span ng-hide="currentStock" class="text-danger">
        <i class="fa fa-warning"></i>
        No active stock for this product at this moment!
      </span>
    </div>
  </div>
  <table st-table="displayProductStocks" st-safe-src="productStocks" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="batchName">Batch Name</th>
      <th st-sort="dateStock">Stock Date</th>
      <th st-sort="dateExpire">Expire</th>
      <th st-sort="amountStart">Start Amount</th>
      <th st-sort="amountCurrent">Current Amount</th>
      <th st-sort="active" width="15%">Is Active?</th>
      <th></th>
    </tr>
    <tr>
      <th>
        <input st-search="'batchName'" class="input-sm form-control" type="search"/>
      </th>
      <th>
        <input st-search="'dateStock'" placeholder="YYYY-MM-DD" class="input-sm form-control" type="date"/>
      </th>
      <th>
        <input st-search="'dateExpire'" placeholder="YYYY-MM-DD" class="input-sm form-control" type="date"/>
      </th>
      <th>
        <input st-search="'amountStart'" class="input-sm form-control" type="search"/>
      </th>
      <th>
        <input st-search="'amountCurrent'" class="input-sm form-control" type="search"/>
      </th>
      <th>
        <select ng-model="searchparam.active" class="input-sm form-control">
          <option value="">All</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in displayProductStocks | filter: searchparam">
      <td>{{row.batchName}}</td>
      <td>{{row.dateStock | date : "dd-MMM-yyyy"}}</td>
      <td>{{row.dateExpire | date : "dd-MMM-yyyy"}}</td>
      <td class="text-right">{{row.amountStart | number}}</td>
      <td class="text-right">{{row.amountCurrent | number}}</td>
      <td>
        <a ng-click="toggleStockStatus(row)">
          <span ng-if="row.active" class="label bg-primary">Yes</span>
          <span ng-if="!row.active" class="label bg-light">No</span>
        </a>
        <span ng-if="(row.id===currentStock.id)" class="label bg-success">Default</span>
      </td>
      <td style="white-space: nowrap">
        <div class="buttons">
          <a ng-click="removeStock(row)" class="btn btn-xs btn-danger" tooltip="Delete">
            <i class="fa fa-times"></i> del
          </a>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
