<div class="bg-light lter b-b wrapper-md hidden-print">
  <div class="row-fluid">
    <div class="col-10">
      <h1 class="m-n font-thin h3">Detail Order</h1>
    </div>
    <div class="col-2 pull-right m-r-md m-t-n-lg">
      <a href="" onclick="window.history.back()" class="btn btn-primary">
        <i class="fa fa-chevron-left"></i> Back
      </a>
    </div>
  </div>
</div>
<div class="wrapper-md hidden-print" ng-controller="OrderDetailCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-10 h4">
          Pelanggan: <strong>{{order.customer.name}}</strong>
        </div>
        <a ui-sref="app.order.edit({id:order.id, type:order.orderMethodName})" class="btn btn-xs btn-success pull-right m-r-md">
          <i class="fa fa-edit"></i> Edit
        </a>
        <a ng-click="orderInvoice()" class="btn btn-xs btn-primary pull-right m-r-xs">
          <i class="fa fa-file-o"></i> Nota Tagihan
        </a>
      </div>
    </div>
    <div class="row wrapper-sm">
      <div class="col-md-4">
        <i class="icon-layers"></i>
        SO, Nomor: <strong>{{order.soNumberId}}</strong>
        Group: <strong>{{order.soNumber.soGroup.name}}</strong>
      </div>
      <div class="col-md-4">
        <i class="icon-basket-loaded"></i>
        Cara Order: {{order.orderBy}}
      </div>
      <div class="col-md-4">
        <i class="icon-calendar"></i>
        Tanggal Order: {{order.datePurchase | date : "dd-MMM-yyyy"}}
      </div>
    </div>
    <div class="row wrapper-sm m-t-n-sm">
      <div class="col-md-4">
        <i class="icon-grid"></i>
        Tipe: <strong>{{order.orderMethodName}}</strong>
      </div>
      <div class="col-md-4">
        <i class="icon-credit-card"></i>
        Cara Bayar: {{order.paymentMethodName}}
      </div>
      <div class="col-md-4">
        <i class="icon-calendar"></i>
        Tanggal Bayar: {{order.datePayment | date : "dd-MMM-yyyy"}}
        <span ng-hide="order.datePayment">(none)</span>
      </div>
    </div>
    <div class="row wrapper-sm m-t-n-sm">
      <div class="col-md-4">
        <i class="icon-user"></i>
        Sales: {{order.person.firstname}} {{order.person.lastname}}
      </div>
      <div class="col-md-4">
        <i class="icon-globe"></i>
        Mata Uang: {{order.currencyCode}}
      </div>
      <div class="col-md-4">
        <i class="icon-calendar"></i>
        Tanggal Kirim: {{order.dateDelivery | date : "dd-MMM-yyyy"}}
        <span ng-hide="order.dateDelivery">(none)</span>
      </div>
    </div>
    <div class="row wrapper-sm m-t-n-sm" ng-show="order.note">
      <div class="col-md-12">
        <i class="icon-info"></i>
        {{order.note}}
      </div>
    </div>
  </div>
  <div class="panel b-a">
    <div class="panel-heading no-border bg-primary">
      <span class="h4 m-r-sm">Data Barang</span>
      <button type="button" class="btn btn-xs btn-success" ng-click="addItem()">
        <i class="glyphicon glyphicon-plus"></i> Tambah Barang
      </button>
      <div class="pull-right h4">
        Total: {{order.currencyCode}} {{order.orderAmount | number}}
      </div>
      <div class="pull-right h4" ng-hide="true">
        <span class="h4" ng-show="order.totalPrice">Total Harga: </span>
        <span ng-repeat="(cur, amount) in order.totalPrice">
          <i class="h6 icon-tag m-l-xs"></i> <strong>{{amount | number}} {{cur}}</strong>
        </span>
      </div>
    </div>
    <table st-table="displayOrderItems" st-safe-src="orderItems" class="table table-striped">
      <thead>
      <tr>
        <th st-sort="productName">Nama Barang</th>
        <th st-sort="quantity">Kuantitas</th>
        <th st-sort="priceEach">Harga Satuan</th>
        <th st-sort="priceTotal">Jumlah Harga</th>
        <th st-sort="currencyCode">MU</th>
        <th></th>
      </tr>
      <tr>
        <th>
          <input st-search="'productName'" class="input-sm form-control" type="search"/>
        </th>
        <th>
          <input st-search="'quantity'" class="input-sm form-control" type="search"/>
        </th>
        <th>
          <input st-search="'priceEach'" class="input-sm form-control" type="search"/>
        </th>
        <th>
          <input st-search="'priceTotal'" class="input-sm form-control" type="search"/>
        </th>
        <th>
          <input st-search="'currencyCode'" class="input-sm form-control" type="search"/>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in displayOrderItems">
        <td>{{row.productName}}</td>
        <td class="text-right">{{row.quantity | number}}</td>
        <td class="text-right">{{row.priceEach | currency: ""}}</td>
        <td class="text-right">{{row.priceTotal | currency: ""}}</td>
        <td>{{row.currencyCode}}</td>
        <td style="white-space: nowrap">
          <div class="buttons">
            <a ng-click="removeItem(row)" class="btn btn-xs btn-danger" tooltip="Delete">
              <i class="fa fa-times"></i> del
            </a>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
