<div class="modal-body wrapper-lg">
  <div class="row">
    <h3 class="m-t-none m-b font-thin text-danger">
      <i class="fa fa-warning"></i>
      Hapus Order?
    </h3>
    <form role="form">
      <div class="form-group">
        <p>Apakah anda yakin akan menghapus order dari <strong>{{item.customerName}}</strong>?</p>
        <span class="col-sm-2">Tipe:</span><p>{{item.orderMethodName}}</p>
        <span class="col-sm-2">Tanggal Order:</span><p>{{item.datePurchase | date : "dd-MMM-yyyy"}}</p>
        <span class="col-sm-2">Senilai:</span><p>{{item.orderAmount | number}} {{item.currencyCode}}</p>
      </div>
      <div class="checkbox m-t-lg">
        <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()">
          <strong>Delete</strong>
        </button>
        <button class="btn btn-sm pull-right text-uc m-t-n-xs" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
