<div class="row form-group">
  <div class="col-sm-12 m-l-n-xs">
    <label class="col-sm-1 control-label">Name</label>
    <div class="col-sm-11 input-group m-r-sm">
      <input type="text" placeholder="Group name (required).." class="form-control form-validation" ng-model="orderGroup.name" ng-required="true">
    </div>
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 m-l-n-xs">
    <label class="col-sm-1 control-label">Member</label>
    <div class="col-sm-11 input-group m-r-sm">
      <ui-select multiple ng-model="orderGroup.selectedOrders" class="form-validation"
                 theme="bootstrap" ng-disabled="disabled">
        <ui-select-match placeholder="Search order to group (if any)..">{{$item.customer.name}} ({{$item.datePurchase | date : 'dd-MMM-yyyy'}})</ui-select-match>
        <ui-select-choices repeat="order.id as order in availableOrders | filter: $select.search">
          <div class="row bg-gd">
            <span class="m-l-xs" ng-bind-html="order.customer.name | highlight: $select.search"></span>
            &raquo; Purchase date: <span ng-bind-html="order.datePurchase | date : 'dd-MMM-yyyy' | highlight: $select.search"></span>
          </div>
          <div>
            <span ng-show="order.orderMethodName"
                  ng-bind-html="'Order: ' + order.orderMethodName | highlight: $select.search"></span>
            <span class="m-l-sm" ng-show="order.paymentMethodName"
                  ng-bind-html="'Payment: ' + order.paymentMethodName | highlight: $select.search"></span>
          </div>
          <div>
            <span ng-show="order.datePayment"
                  ng-bind-html="'Payment: ' + (order.datePayment | date : 'dd-MMM-yyyy') | highlight: $select.search"></span>
            <span class="m-l-sm" ng-show="order.dateDelivery"
                  ng-bind-html="'Delivery: ' + (order.dateDelivery | date : 'dd-MMM-yyyy') | highlight: $select.search"></span>
          </div>
          <div ng-show="order.note">{{order.note}}</div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 m-l-n-xs">
    <label class="col-sm-1 control-label">Note</label>
    <div class="col-sm-11 input-group m-r-sm">
      <input type="text" class="form-control form-validation" ng-model="orderGroup.note">
    </div>
  </div>
</div>

<div class="row">
  <div class="pull-right m-r-md">
    <a href="" onclick="window.history.back()" class="btn btn-default">
      Cancel
    </a>
    <button type="submit" class="btn btn-success m-r-xs" ng-disabled="form.$invalid">
      <strong>Save</strong>
    </button>
  </div>
</div>
