<div class="modal-body wrapper-lg">
  <div class="row">
    <h3 class="m-t-none m-b font-thin text-danger">
      <i class="fa fa-warning"></i>
      Delete order group?
    </h3>
    <form role="form">
      <div class="form-group">
        <div>Are you sure want to delete order group: <strong>{{item.name}}</strong>?</div>
        <div ng-show="item.note"><i class="icon-info m-r-xs text-info"></i>{{item.note}}</div>
        <div ng-show="item.orders.length">
          <div class="text-warning">
            <i class="icon-ban"></i>
            Please delete or ungroup these orders first:
          </div>
          <ul>
            <li ng-repeat="order in item.orders">
              <a ui-sref="app.order.edit({id: order.id})">
                {{order.customer.name}} &raquo; {{order.datePurchase | date : "dd-MMM-yyyy"}}
                {{order.orderMethod}}  {{order.paymentMethod}}
                <em>(click to open)</em>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="checkbox m-t-lg">
        <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()">
          <strong>Delete</strong>
        </button>
        <button class="btn btn-sm pull-right text-uc m-t-n-xs" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
