<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3" >Payment Method</h1>
</div>
<div class="wrapper-md" ng-controller="PaymentMethodCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-success" ng-click="add()">
          <i class="glyphicon glyphicon-plus"></i> Add new
        </button>
    </div>
    <table st-table="displayPaymentMethods" st-safe-src="paymentMethods" class="table table-striped">
      <thead>
      <tr>
        <th colspan="2"><input st-search="" class="form-control" placeholder="search.." type="text"/></th>
      </tr>
      <tr>
        <th st-sort="name">Method Name</th>
        <th width="50"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in displayPaymentMethods">
        <td>{{row.name}}</td>
        <td style="white-space: nowrap">
          <div class="buttons">
            <button ng-click="remove(row)" class="btn btn-xs btn-danger">
              <i class="fa fa-times"></i> del
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
